:root {
  --bg-primary: #fafafa;
  --bg-secondary: #ffffffcc;

  --text-primary: #111827;
  --text-secondary: #4b5563;

  --accent-primary: #7c3aed;
  --accent-secondary: #a855f7;

  --border-color: rgba(0, 0, 0, 0.1);

  --gradient-primary: linear-gradient(
    135deg,
    #6d28d9 0%,
    #8b5cf6 50%,
    #c084fc 100%
  );
}

.dark {
  --bg-primary: #0a0a0a;
  --bg-secondary: rgba(17, 24, 39, 0.7);

  --text-primary: #ffffff;
  --text-secondary: #d1d5db;

  --accent-primary: #8b5cf6;
  --accent-secondary: #c084fc;

  --border-color: rgba(255, 255, 255, 0.1);

  --gradient-primary: linear-gradient(
    135deg,
    #7c3aed 0%,
    #9333ea 50%,
    #c084fc 100%
  );
}